
/* .masonry { width: 1140px; } */
.masonry { list-style: none; }
.masonry .grid-sizer { width: 275px; }
.masonry .item {
  width: 275px;
  background-color: #ccc;
  border-radius: 2px;
  margin-bottom: 14px;
}

.item.w2 { width: 450px; }

.masonry .item img {
  border: none;
  outline: none;
  display: block;
  max-width: 100%;
}