
/* .masonry { width: 1140px; } */
body {
  background-color: #efefef;
}
h2 {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  text-align: center;
  margin-top: 0;
  padding: 9px 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.33);
}
#map-canvas {
  width: 1156px;
  margin: 0 auto;
}
.container-main {
  padding-top: 50px;
  width: 1156px;
  margin: 0 auto;
}
.masonry { 
  list-style: none;
  padding: 0;        // Reset the default ul padding
  margin: 0;         // Reset the default ul margin
}
.masonry .grid-sizer { width: 275px; }
.masonry .item {
  background-color: #fff;
  width: 275px;
  border-radius: 2px;
  margin-bottom: 14px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);  // <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>?
}
.masonry .item img {
  border: none;
  outline: none;
  display: block;
  max-width: 100%;
  border-radius: 2px 2px 0 0;
}
.masonry .item .issue-details {
  display: block;
  font-size: 13px;
  color: #333;
  border-top: 1px #ccc solid;
  padding: 0 13px 0 13px;
  border-radius: 0 0 2px 2px;
}
.masonry .item .issue-details p {
  max-width: 100%;
  margin: 8px 0;
}
.lighten30 {
  color: rgba(0, 0, 0, 0.3);
}