
/* .masonry { width: 1140px; } */
.container--main {
  width: 1156px;
  margin: 0 auto;
}
.masonry { 
  list-style: none;
  padding: 0;        // Reset the default ul padding
  margin: 0;         // Reset the default ul margin
}
.masonry .grid-sizer { width: 275px; }
.masonry .item {
  width: 275px;
  background-color: #ccc;
  border-radius: 2px;
  margin-bottom: 14px;
}

.item.w2 { width: 450px; }

.masonry .item img {
  border: none;
  outline: none;
  display: block;
  max-width: 100%;
}